extends base

block content
  form.form-horizontal(action='/login', method='POST')
    fieldset
      legend Admin Login
      div.control-group
        label.control-label(for='user') Secret key
        div.controls
          input.input-xxlarge(type='text', name='key', id='key')
      div.form-actions
        button.btn.btn-primary(type='submit') Submit
